body{
    background-color: #CAD0D8;
}

.center {
    background-color: #16293A;
    width: 60%;
    height: 70%;
    border-radius: 30px;
    position: absolute;
    left: 20%;
    top: 15%;
    box-shadow: 0px 0px 35px 10px #16293A;
}

.name{
    position: absolute;
    width: 45%;
    height: 7%;
    top: 13.8%;
    left: 10%;
    border-style: none;
    border-radius: 10px;
    background-color: #7CCDCA;
}

.mobile{
    position: absolute;
    width: 30%;
    height: 7%;
    top: 13.8%;
    right: 9.6%;
    border-style: none;
    border-radius: 10px;
    background-color: #7CCDCA;
}

.dob {
    position: absolute;
    width: 80%;
    height: 7%;
    top: 27%;
    left: 10%;
    border-style: none;
    border-radius: 10px;
    background-color: #7CCDCA;
}

.email{
    position: absolute;
    width: 80%;
    height: 7%;
    top: 40%;
    left: 10%;
    border-style: none;
    border-radius: 10px;
    background-color: #7CCDCA;
}

.id{
    position: absolute;
    width: 37.5%;
    height: 7%;
    top: 53%;
    left: 10%;
    border-style: none;
    border-radius: 10px;
    background-color: #7CCDCA;
}


.gpa{
    position: absolute;
    width: 37.5%;
    height: 7%;
    top: 53%;
    right: 9.6%;
    border-style: none;
    border-radius: 10px;
    background-color: #7CCDCA;
}


.level {
    position: absolute;
    width: 37.9%;
    height: 7.4%;
    top: 66%;
    left: 10%;
    border-style: none;
    border-radius: 10px;
    background-color: #7CCDCA;
    color: #16293A;
    text-align: center;
    font-size: large;
}

.department {
    position: absolute;
    width: 37.9%;
    height: 7.4%;
    top: 66%;
    right: 9.6%;
    border-style: none;
    border-radius: 10px;
    background-color: #7CCDCA;
    color: #16293A;
    text-align: center;
    font-size: large;
}

.gen input[type="radio"]{
    display: none;
}

.gen input[type="radio"]:checked + label{
    opacity: 1;
}

.male{
    position: absolute;
    width: 37.9%;
    height: 7.4%;
    top: 79%;
    left: 10%;
    border-style: none;
    border-radius: 10px;
    background-color: #7CCDCA;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
}

.female{
    position: absolute;
    width: 38%;
    height: 7.4%;
    top: 79%;
    right: 9.6%;
    border-style: none;
    border-radius: 10px;
    background-color: #7CCDCA;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
}

p{
    margin: 0 0;
    position: absolute;
    left: 45%;
    top: 25%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    color: #16293A;
}

::-webkit-input-placeholder {
    text-align: center;
    color: #16293A;
    font-size: large;
}

:-moz-placeholder {
    text-align: center;
}



.submit {
    background-color: #CAD0D8;
    color: #16293A;
    border-radius: 10px;
    border-style: none;
    position: absolute;
    width: 25%;
    height: 4%;
    top: 92%;
    left: 37.5%;
    text-align-last: center;
    transition-duration: 0.5s;
    cursor: pointer;
}

.submit:hover {
    transform: translate(0px, 0px) scale(1.5, 1.5);
}


.title {
    color: #CAD0D8;
    position: absolute;
    top: 4%;
    left: 42%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bold;
}